.form{
    /* border: 1px solid grey;
    background-color: rgb(247,247,247);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
    display: flex;
    /* border: solid 2px red; */
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    
}

.form .activity{
    margin-top: 1em;
}

.labelText {
    color: green;
    font-weight: bold;
    font-size: 18px;
    /* text-decoration: underline; */
  }

  .inputName {
    width: 180px;
  }

  .inputName:focus {
    outline: none;
  }

  .difficulty{
    margin-top: 1.6em;
  }

  .inputDifficulty{
    width: 200px;
  }

  .duration{
    margin-top: 1.6em;
  }

  .season{
    margin-top: 1.6em;
  }

  .images{
    margin-top: 1.6em;
  }

  .inputImages {
    width: 180px;
  }

  .inputImages:focus {
    outline: none;
  }

  .description{
    margin-top: 1.6em;
  }

  .inputDescription {
    width: 180px;
    height: 100px;
  }

  .inputDescription:focus {
    outline: none;
  }
  


  .beginner{
    color: rgb(128, 244, 32);
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .amateur{
    color: rgb(32, 170, 244);
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .normal{
    color: rgb(244, 226, 32);
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .professional{
    color:  rgb(244, 111, 32) ;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .expert{
    color: rgb(254, 85, 85) ;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }