.filterAndCards {
    display: flex;
    /* border: 1px solid rgb(250, 0, 0); */
    flex-direction: row;

  }

  .cardsContainer{
    display: flex;
    /* border:  1px solid yellow; */
    margin-left: 1em;
    margin-right: auto;
    /* justify-content: center; */
    /* align-items: center; */
    /* max-width: 1150px; */
    /* padding: 1em; */
    /* box-sizing: border-box; */
    /* height: 100vh; */

    
  }



  .PaginationV2 {
    /* border: 1px solid rgb(0, 33, 250); */
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: 37em ;
    margin-top: 3em;
    
    
    
}



  .filtersBar{
    /* border:  1px solid rgb(126, 13, 187); */
    display: flex;
    width: fit-content;
    margin-left: 3em;

  }

  